#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# MacOS
.DS_Store

# ec (editorconfig-checker)
.git/

# python caching when pytest is used
__pycache__

#ide folders
.idea/
