# This requirements.txt file is used to let Dependabot manage pinned versions of
# tools that will be installed using the target `make install`

# Keep this list in alphabetical order, with a single blank line between each package

black==23.12.0

bump2version==1.0.1

cfn-lint==0.82.2

pydocstyle==6.3.0

pylint==3.0.2

pylint-pytest==1.1.6

yamllint==1.33.0
