# This requirements.txt file is used to let Dependabot manage pinned versions of
# tools that will be installed using the target `make install`

# Keep this list in alphabetical order, with a single blank line between each package

black==26.1.0

bump2version==1.0.1

cfn-lint==1.44.0

pydocstyle==6.3.0

pylint==4.0.5

pylint-pytest==1.1.8

yamllint==1.38.0
