# This requirements.txt file is used to let Dependabot manage pinned versions of
# tools that will be installed using the target `make pytest/install`

# Keep this list in alphabetical order, with a single blank line between each package

pytest==7.1.3

python-hcl2==3.0.5

tftest==1.7.4
