# This requirements.txt file is used to let Dependabot manage pinned versions of
# tools that will be installed using the target `make pytest/install`

# Keep this list in alphabetical order, with a single blank line between each package

pytest==6.2.5

python-hcl2==3.0.1

tftest==1.6.4
