# This requirements.txt file is used to let Dependabot manage pinned versions of
# tools that will be installed using the target `make pytest/install`

# Keep this list in alphabetical order, with a single blank line between each package

pytest==7.4.4

python-hcl2==4.3.2

tftest==1.8.5
